.DS_Store
.dropbox
code_check*
nohup.out
+*.pdf
slides/01-Slides/cache
slides/01-Slides/data
slides/05-Slides/cache

# History files
.Rhistory

# Example code in package build process
*-Ex.R

# R data files from past sessions
.Rdata

# RStudio files
.Rproj.user/
